# Logs
logs
*.log
ssoms/vue/npm-debug.log*
ssoms/vue/yarn-debug.log*
ssoms/vue/yarn-error.log*、

*/vue/node_modules
ssoms/vue/dist
ssoms/vue/dist-ssr
ssoms/vue/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
